@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css';
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: @font-size-base;
    color: @color-text;
    font-family: @font-family-base;
    font-weight: @font-weight-base;
    a {
        color: @color-text;
    }
}

body {
    margin: 0 auto;
    padding: 0 0 20px;
    position: relative;
    opacity: 1 !important;
    @media screen and (max-width: 800px) {
        &:after {
            content: "Visit website on larger screen or increase window size!";
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        #app {
            display: none;
        }
    }
    #app {
        height: 100%;
        > .container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
