// COLORS
@color-text: #333;
@color-btn-primary: #585bca;
@color-btn-secondary: #4b4d94;

// FONT
@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 13px;
@font-weight-base: 100;
@letter-spacing-base: normal;

// RESPONSIVE
@break-large: 1024px;

@height-search-input: 40px;
